*.egg-info
*.npy
*/*.npy
*/*/*.npy
eegdash/data/
**/__pycache__/
.venv
.secret
note
tests/.testeegdash/
dist/
**/.eegdash_cache/
**/*/eegdash.egg-info/
.env
tests/data/
.ruff_cache/
.vscode/
build/


dist/
docs/build/
docs/source/gen_modules/
docs/source/generated/
docs/auto_examples/
docs/auto_tutorials/
docs/modules/generated/
docs/source/api/datasets/*.rst
docs/source/api/dataset/*.rst
docs/source/api/generated/
docs/sphinxext/cachedir
docs/source/api/api_dataset.rst
pip-log.txt
.coverage*
tags
cover

examples/data
#Mac files
.DS_Store

data/
*.json
*.isorted
*.py.isorted

examples/eeg2025/weights*
# Generated dataset visualizations
docs/source/_static/dataset_generated/
