[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "eegdash"
version = "0.0.8"
authors = [
  { name="Young Truong", email="dt.young112@gmail.com" },
  { name="Arnaud Delorme", email="adelorme@gmail.com" },
]
description = "EEG data for machine learning"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
  "xarray",
  "python-dotenv",
  "s3fs",
  "mne",
  "pynwb",
  "h5py",
  "pymongo",
  "joblib",
  "braindecode",
  "mne-bids",
]
[project.urls]
Homepage = "https://github.com/sccn/EEG-Dash-Data"
Issues = "https://github.com/sccn/EEG-Dash-Data/issues"

