[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "eegdash"
version = "0.1.0"
authors = [
  { name = "Young Truong",    email = "dt.young112@gmail.com" },
  { name = "Arnaud Delorme",  email = "adelorme@gmail.com" },
  { name = "Bruno Aristimunha", email = "b.aristimunha@gmail.com"}
]
description     = "EEG data for machine learning"
readme          = "README.md"
license         = { file = "LICENSE" }
requires-python = ">3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
  "braindecode @ git+https://github.com/braindecode/braindecode.git@master",
  "mne_bids>=0.16.0",
  "numba",
  "numpy",
  "pandas",
  "pybids",
  "pymongo",
  "python-dotenv",
  "s3fs",
  "scipy",
  "tqdm",
  "xarray",
]

[project.urls]
Homepage = "https://github.com/sccn/EEG-Dash-Data"
Issues   = "https://github.com/sccn/EEG-Dash-Data/issues"


[project.optional-dependencies]
tests = [
    'pytest',
    'pytest-cov',
    'codecov',
    'pytest_cases',
]
docs = [
    'sphinx_gallery',
    'sphinx_rtd_theme',
    'pydata_sphinx_theme',
    'numpydoc',
    'memory_profiler',
    'pillow',
    'ipython',
    'sphinx_design',
    'lightning',
    'seaborn',
    'pre-commit',
    'openneuro-py'
]
dev = [
  "pre-commit"
]

[tool.setuptools]
py-modules = []

[tool.setuptools.packages.find]
where      = ["."]
include    = ["eegdash*"]
exclude    = []
namespaces = false

[tool.ruff]
lint.ignore-init-module-imports = true
line-length = 88
target-version = "py311"

[tool.isort]
skip               = [".gitignore"]
skip_glob          = ["examples/*"]
py_version         = 312
profile            = "black"
sections           = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
known_first_party  = ["eegdash", "braindecode"]
lines_between_sections = 1

[pytest]
testpaths        = ["tests"]
python_files     = ["test_*.py", "*_test.py"]
python_functions = ["test_*"]
