[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "eegdash"
version = "0.0.8"
authors = [
  { name="Young Truong", email="dt.young112@gmail.com" },
  { name="Arnaud Delorme", email="adelorme@gmail.com" },
]
description = "EEG data for machine learning"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
  "xarray",
  "python-dotenv",
  "s3fs",
  "mne",
  "pynwb",
  "h5py",
  "pymongo",
  "joblib",
  "braindecode",
  "mne-bids",
  "pybids",
  "pymatreader",
  "pyarrow",
  "tqdm",
  "numba",
  "pre-commit",
]

[project.urls]
Homepage = "https://github.com/sccn/EEG-Dash-Data"
Issues = "https://github.com/sccn/EEG-Dash-Data/issues"

[tool.setuptools]
py-modules = []

[tool.setuptools.packages.find]
where = ["."]  # list of folders that contain the packages (["."] by default)
include = ["eegdash*"]  # package names should match these glob patterns (["*"] by default)
exclude = []  # exclude packages matching these glob patterns (empty by default)
namespaces = false  # to disable scanning PEP 420 namespaces (true by default)

[tool.ruff]
lint.ignore-init-module-imports = true
line-length = 88
target-version = "py311"


[tool.isort]
skip = [".gitignore"]
skip_glob = ["test/*", "examples/*"]
py_version = 311
profile = "black"
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]  # :contentReference[oaicite:0]{index=0}
known_first_party = ["eegdash"]   
lines_between_sections = 1

[pytest]
# where to look for tests
testpaths = ["test"]

# which files count as test modules
python_files = ["test_*.py", "*_test.py"]

# which functions inside them count as tests
python_functions = ["test_*"]