name: docs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - '*' # all branches, including forks

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install uv
          uv venv
          uv pip install -e .[all]

      - name: Activate virtualenv
        run: |
          . .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV

      - name: Create/Restore Data Caches mne and Nilearn
        id: cache-data
        uses: actions/cache@v4
        with:
          path: |
            ~/mne_data
            ~/nilearn_data
          key: ${{ runner.os }}-data-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-data

      - name: Create Docs
        run: |
          cd docs
          make html

      - name: Upload HTML Docs as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: HTML-Docs
          path: ./docs/build/
